label,input 
{ 
 margin:5px; 
 width: 500px; 
} 
.card 
{ 
 margin-left: 0px; 
 justify-content: center; 
 align-items: center; 
 width: 700px; 
 color: white; 
 background-color: orangered; 
} 
.container 
{ 
 margin-left: 0px; 
}